@import url('https://fonts.googleapis.com/css2? family= Indie+Flower & display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Indie Flower', cursive;
    text-decoration: none;
}
 header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #f4ecd9;
 }
/* HEADER SUPERIOR */
.header_superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo img{
    width: 250px;
}

/* BARRA MENU*/

.container__menu{
    width: 100%;
    height: 70px;
    background: #b3deed;
    padding: 0px 20px;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li:first-child > a{
    background-image: url(hogar.ico);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

nav > ul > li:first-child:hover > a{
    background-image: url(hogar.ico);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color:#070707;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #fbe5cb;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#selected{
    transform: scale(1.1);
    background-color: #fbe5cb;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/*submenu*/

nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff ;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top:70px;
}

nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: rgb(180, 149, 108);
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul li ul li a:hover{
    background: #fbe5cb;
    color:#070707;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
/*articulos*/

main{
    background: #f8f8ea;
    padding: 40px 20px;
    margin-top: 300px;
    text-align: center;
}

article{
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background: #fff;
}


article p{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
}


footer{ 
    width: 100%;
    padding: 50px 0px;
    background: #f8f8ea;
    background-size: cover;
}
 .container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
 }

 .box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
 }
 .box__footer .logo img{
    width: 180px;
 }

 .box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
 }

 .box__footer h2{
    margin-bottom: 30px;
    color: #7a7a7a;
    font-weight: 700;
 }

 .box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
 }

 .box__footer a:hover{
    opacity: 0.8;
 }

 .box__footer a .fab{
    font-size: 20px;
 }
  
 .box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
 }

 .box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
 }

 .box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;

}

a:link .container{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 4% 2%;
    box-sizing: border-box;
}